In [56]:
from textblob import TextBlob
import nltk
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#from nltk.corpus import stopwords

In [57]:
mcd = pd.read_csv(r"C:\Users\belin\Desktop\Research\mcd.csv")

In [58]:
mcd.shape

(100, 2)

In [59]:
mcd.head()

   sentiment                                             review
0          3  I'm not a huge mcds lover, but I've been to be...
1          4  Terrible customer service. Î¾I came in at 9:30...
2          8  First they "lost" my order, actually they gave...
3         10  I see I'm not the only one giving 1 star. Only...
4          6  Well, it's McDonald's, so you know what the fo...

In [60]:
polarity_score = []
for i in range(0,mcd.shape[0] ): #range starting from 0 to the last entry
    score = TextBlob(mcd.iloc[i][1]) #to get the location of the 'review' column
    score1 = score.sentiment[0] #to find the score of each record in the review column
    polarity_score.append(score1) #to add the results to the list

In [61]:
mcd = pd.concat([mcd, pd.Series(polarity_score)], axis=1)  #to add it as a new column

In [63]:
mcd.head(20)

    sentiment                                             review         0
0           3  I'm not a huge mcds lover, but I've been to be... -0.325000
1           4  Terrible customer service. Î¾I came in at 9:30... -0.257143
2           8  First they "lost" my order, actually they gave...  0.093750
3          10  I see I'm not the only one giving 1 star. Only...  0.000000
4           6  Well, it's McDonald's, so you know what the fo... -0.008737
5           5  This has to be one of the worst and slowest Mc... -0.500000
6           7  I'm not crazy about this McDonald's. Î¾This is...  0.064236
7           5  One Star and I'm beng kind. I blame management...  0.161364
8           8  Never been upset about any fast food drive thr... -0.073775
9           6  This McDonald's has gotten much better. Usuall...  0.081374
10          2  Let's start here only reason I came into McDon...  0.100356
11          2  Other businesses throughout Metro Atlanta open... -0.276389
12          4  The drive thru makes them lost a star since my...  0.079464
13          5  Believe it or not, this used to be q really go...  0.187500
14          6  As the previous yelpers have already stated, t... -0.243333
15          4  25 minutes in drive through line. Gunshots fro... -0.500000
16          3  Super slow service, food's terrible like its b... -0.322222
17          5  SLOW-SLOW-SLOW! Î¾Don't go here if you have a ...  0.144272
18          3  On your way to the airport or just cruising do...  0.124383
19          6  This is the worst McDonalds I have ever seen. ... -0.650000