In [62]:
from textblob import TextBlob
import nltk
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#from nltk.corpus import stopwords

In [70]:
mcd = pd.read_csv(r"C:\Users\belin\Desktop\Research\McDonalds-Yelp-Sentiment.csv" )

In [73]:
type(mcd)

pandas.core.frame.DataFrame

In [71]:
mcd.shape

(1525, 10)

In [72]:
mcd.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review
0,679455653,False,finalized,3,2/21/15 0:36,RudeService\rOrderProblem\rFilthy,1.0\r0.6667\r0.6667,Atlanta,NaN,"I'm not a huge mcds lover, but I've been to be..."
1,679455654,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,Terrible customer service. ξI came in at 9:30p...
2,679455655,False,finalized,3,2/21/15 0:26,SlowService\rOrderProblem,1.0\r1.0,Atlanta,NaN,"First they ""lost"" my order, actually they gave..."
3,679455656,False,finalized,3,2/21/15 0:27,na,0.6667,Atlanta,NaN,I see I'm not the only one giving 1 star. Only...
4,679455657,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,"Well, it's McDonald's, so you know what the fo..."

In [66]:
mcd.isnull()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review
0,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
1520,False,False,False,False,False,False,False,False,True,False
1521,False,False,False,False,False,False,False,False,True,False
1522,False,False,False,False,False,False,False,False,True,False
1523,False,False,False,False,False,False,False,False,True,False
1524,False,False,False,False,False,False,False,False,True,False

In [49]:
mcd['review'] = mcd['review'].astype('str')

In [59]:
mcd.review.head()

0    I'm not a huge mcds lover, but I've been to be...
1    Terrible customer service. ξI came in at 9:30p...
2    First they "lost" my order, actually they gave...
3    I see I'm not the only one giving 1 star. Only...
4    Well, it's McDonald's, so you know what the fo...
Name: review, dtype: object

In [50]:
polarity_score = []
for i in range(0,mcd.shape[0] ): #range starting from 0 to the last entry
    score = TextBlob(mcd.iloc[i][9]) #to get the location of the 'review' column
    score1 = score.sentiment[0] #to find the score of each record in the review column
    polarity_score.append(score1) #to add the results to the list

In [51]:
mcd = pd.concat([mcd, pd.Series(polarity_score)], axis=1)  #to add it as a new column

In [52]:
mcd.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review,0
0,679455653,False,finalized,3,2/21/15 0:36,RudeService\rOrderProblem\rFilthy,1.0\r0.6667\r0.6667,Atlanta,NaN,"I'm not a huge mcds lover, but I've been to be...",-0.325000
1,679455654,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,Terrible customer service. ξI came in at 9:30p...,-0.257143
2,679455655,False,finalized,3,2/21/15 0:26,SlowService\rOrderProblem,1.0\r1.0,Atlanta,NaN,"First they ""lost"" my order, actually they gave...",0.093750
3,679455656,False,finalized,3,2/21/15 0:27,na,0.6667,Atlanta,NaN,I see I'm not the only one giving 1 star. Only...,0.000000
4,679455657,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,"Well, it's McDonald's, so you know what the fo...",-0.008737

In [53]:
to_drop = ['_unit_id',
          '_golden',
          '_unit_state',
          '_trusted_judgments',
          '_last_judgment_at',
          'policies_violated',
          'policies_violated:confidence',
          'city',
          'policies_violated_gold']

In [54]:
mcd.drop(to_drop, inplace=True, axis=1)

In [55]:
mcd.head()

                                              review         0
0  I'm not a huge mcds lover, but I've been to be... -0.325000
1  Terrible customer service. ξI came in at 9:30p... -0.257143
2  First they "lost" my order, actually they gave...  0.093750
3  I see I'm not the only one giving 1 star. Only...  0.000000
4  Well, it's McDonald's, so you know what the fo... -0.008737

In [56]:
mcd['review'].is_unique

False

In [57]:
mcd['review'] = mcd['review'].str.strip('Î¾')

In [58]:
mcd.head(10)

                                              review         0
0  I'm not a huge mcds lover, but I've been to be... -0.325000
1  Terrible customer service. ξI came in at 9:30p... -0.257143
2  First they "lost" my order, actually they gave...  0.093750
3  I see I'm not the only one giving 1 star. Only...  0.000000
4  Well, it's McDonald's, so you know what the fo... -0.008737
5  This has to be one of the worst and slowest Mc... -0.500000
6  I'm not crazy about this McDonald's. ξThis is ...  0.064236
7  One Star and I'm beng kind. I blame management...  0.161364
8  Never been upset about any fast food drive thr... -0.073775
9  This McDonald's has gotten much better. Usuall...  0.081374