# Sentimental Analysis
using textblob, nltk, pandas and numpy

In [543]:
from textblob import TextBlob
from textblob import Word
import nltk
import pandas as pd
import numpy as np
from nltk.corpus import stopwords

In [544]:
mcd = pd.read_csv(r"C:\Users\belin\Desktop\Research\McDonalds-Yelp-Sentiment.csv" )

In [545]:
type(mcd)

pandas.core.frame.DataFrame

In [546]:
mcd.shape

(1525, 10)

In [547]:
#mcd.head()

## Removing un-necessary columns from csv file

In [548]:
to_drop = ['_unit_id','_golden','_unit_state','_trusted_judgments','_last_judgment_at','policies_violated','policies_violated:confidence','city','policies_violated_gold']

In [549]:
mcd.drop(to_drop, inplace=True, axis=1)

In [552]:
mcd['review'][:30]

0     I'm not a huge mcds lover, but I've been to be...
1     Terrible customer service. ξI came in at 9:30p...
2     First they "lost" my order, actually they gave...
3     I see I'm not the only one giving 1 star. Only...
4     Well, it's McDonald's, so you know what the fo...
5     This has to be one of the worst and slowest Mc...
6     I'm not crazy about this McDonald's. ξThis is ...
7     One Star and I'm beng kind. I blame management...
8     Never been upset about any fast food drive thr...
9     This McDonald's has gotten much better. Usuall...
10    Let's start here only reason I came into McDon...
11    Other businesses throughout Metro Atlanta open...
12    The drive thru makes them lost a star since my...
13    Believe it or not, this used to be q really go...
14    As the previous yelpers have already stated, t...
15    25 minutes in drive through line. Gunshots fro...
16    Super slow service, food's terrible like its b...
17    SLOW-SLOW-SLOW! ξDon't go here if you have a f...
18    On your way to the airport or just cruising do...
19    This is the worst McDonalds I have ever seen. ...
20    I had the McCafe Mocha and must say that it wa...
21    GHETTO!! went in yesterday just to get a soda ...
22    I visited mcdonalds on Dec 20, 2011 at 12:54 I...
23    I usually hit the drive thru once or twice a w...
24    What a joke.Don't do take out as you will not ...
25    I wish I can give zero stars. Freezing cold re...
26    I agree with most reviewers on this one. Staff...
27    I don't think this location deserves even one ...
28    This is one rude Mcdonalds! The food takes lon...
29    the managers at this mcdonalds are awesome but...
Name: review, dtype: object

## Counting the words (to clean)

In [507]:
mcd['word_count'] = mcd['review'].apply(lambda x: len(x.split()))

In [508]:
#mcd.head()

In [509]:
mcd['char_count'] = mcd['review'].apply(lambda x: len(x))

In [510]:
#mcd.head()

In [511]:
def average_words(x):
    words = x.split()
    return sum(len(word) for word in words) / len(words)

In [512]:
 mcd['avg_word_len'] = mcd['review'].apply(lambda x: average_words(x))

In [513]:
#mcd.head()

In [514]:
stop_words = stopwords.words('english')

In [515]:
mcd['stop_words_count'] = mcd['review'].apply(lambda x: len([word for word in x.split() if word in stop_words]))

In [516]:
#mcd.head()

In [517]:
mcd['stopword_rate'] = mcd['stop_words_count'] / mcd['word_count']

In [518]:
#mcd.head()

In [519]:
mcd.sort_values(by='stopword_rate')

,review,word_count,char_count,avg_word_len,stop_words_count,stopword_rate
49,Its good. 24hr,3,14,4.000000,0,0.000000
441,"Always busy, food usually cold. Sigh.",6,37,5.333333,0,0.000000
729,It really needs ZERO stars! Terrible customer ...,18,113,5.333333,0,0.000000
643,It's McDonald's....enough said.,3,31,9.666667,0,0.000000
917,Typically always bad service there.,5,35,6.200000,0,0.000000
...,...,...,...,...,...,...
191,very nice and clean. i came here late night an...,31,142,3.612903,18,0.580645
412,"Maybe it's just me, but it seems like the staf...",17,89,4.294118,10,0.588235
740,I had want here with my friend(1time) and my m...,54,251,3.666667,32,0.592593
1104,one of the speakers was broken but it did not ...,96,460,3.802083,59,0.614583
702,how do you screw up ice-cream? Come here for a...,11,58,4.363636,7,0.636364

In [520]:
mcd.describe()

        word_count   char_count  avg_word_len  stop_words_count  stopword_rate
count  1525.000000  1525.000000   1525.000000       1525.000000    1525.000000
mean     96.558033   521.305574      4.461846         39.896393       0.397047
std      88.553957   480.984363      0.464843         37.729035       0.078022
min       3.000000    14.000000      3.444444          0.000000       0.000000
25%      38.000000   205.000000      4.184783         15.000000       0.366197
50%      71.000000   386.000000      4.402299         29.000000       0.407895
75%     126.000000   672.000000      4.655172         53.000000       0.445055
max     914.000000  4960.000000      9.666667        340.000000       0.636364

## Cleaning the data

In [521]:
mcd['review']

0       I'm not a huge mcds lover, but I've been to be...
1       Terrible customer service. ξI came in at 9:30p...
2       First they "lost" my order, actually they gave...
3       I see I'm not the only one giving 1 star. Only...
4       Well, it's McDonald's, so you know what the fo...
                              ...
1520    I enjoyed the part where I repeatedly asked if...
1521    Worst McDonalds I've been in in a long time! D...
1522    When I am really craving for McDonald's, this ...
1523    Two points right out of the gate: 1. Thuggery ...
1524    I wanted to grab breakfast one morning before ...
Name: review, Length: 1525, dtype: object

In [522]:
 mcd['lowercase'] = mcd['review'].apply(lambda x: " ".join(word.lower() for word in x.split()))

In [523]:
#mcd.head()

In [524]:
mcd['punctuation'] = mcd['lowercase'].str.replace('[^\w\s]', '')

<ipython-input-524-36cb519995a5>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  mcd['punctuation'] = mcd['lowercase'].str.replace('[^\w\s]', '')

In [525]:
mcd['stopwords'] = mcd['punctuation'].apply(lambda x: " ".join(word for word in x.split() if word not in stop_words))

In [526]:
#pd.Series(" ".join(mcd['stopwords']).split()).value_counts()[:30]

In [527]:
other_stop_words = ['mcds','mcdonalds','ξi','ξ','Î¾I','get','food','order','thru','coffee','fries','im','ive','thuggery']

In [528]:
len(other_stop_words)

14

In [529]:
mcd['clean_rev'] = mcd['stopwords'].apply(lambda x: " ".join(word for word in x.split() if word not in other_stop_words))

In [530]:
#pd.Series(" ".join(mcd['clean_rev']).split()).value_counts()[:30]

In [531]:
mcd.head()

,review,word_count,char_count,avg_word_len,stop_words_count,stopword_rate,lowercase,punctuation,stopwords,clean_rev
0,"I'm not a huge mcds lover, but I've been to be...",50,260,4.220000,19,0.380000,"i'm not a huge mcds lover, but i've been to be...",im not a huge mcds lover but ive been to bette...,im huge mcds lover ive better ones far worst o...,huge lover better ones far worst one ever filt...
1,Terrible customer service. ξI came in at 9:30p...,82,443,4.414634,33,0.402439,terrible customer service. ξi came in at 9:30p...,terrible customer service ξi came in at 930pm ...,terrible customer service ξi came 930pm stood ...,terrible customer service came 930pm stood fro...
2,"First they ""lost"" my order, actually they gave...",158,860,4.449367,76,0.481013,"first they ""lost"" my order, actually they gave...",first they lost my order actually they gave it...,first lost order actually gave someone one els...,first lost actually gave someone one else took...
3,I see I'm not the only one giving 1 star. Only...,24,107,3.500000,10,0.416667,i see i'm not the only one giving 1 star. only...,i see im not the only one giving 1 star only b...,see im one giving 1 star 25 star thats need say,see one giving 1 star 25 star thats need say
4,"Well, it's McDonald's, so you know what the fo...",148,793,4.364865,60,0.405405,"well, it's mcdonald's, so you know what the fo...",well its mcdonalds so you know what the food i...,well mcdonalds know food ξthis review reflects...,well know ξthis review reflects solely poor se...

## Lemmatization/

In [532]:
mcd['lemmatized'] = mcd['clean_rev'].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))

In [533]:
mcd.head()

,review,word_count,char_count,avg_word_len,stop_words_count,stopword_rate,lowercase,punctuation,stopwords,clean_rev,lemmatized
0,"I'm not a huge mcds lover, but I've been to be...",50,260,4.220000,19,0.380000,"i'm not a huge mcds lover, but i've been to be...",im not a huge mcds lover but ive been to bette...,im huge mcds lover ive better ones far worst o...,huge lover better ones far worst one ever filt...,huge lover better one far worst one ever filth...
1,Terrible customer service. ξI came in at 9:30p...,82,443,4.414634,33,0.402439,terrible customer service. ξi came in at 9:30p...,terrible customer service ξi came in at 930pm ...,terrible customer service ξi came 930pm stood ...,terrible customer service came 930pm stood fro...,terrible customer service came 930pm stood fro...
2,"First they ""lost"" my order, actually they gave...",158,860,4.449367,76,0.481013,"first they ""lost"" my order, actually they gave...",first they lost my order actually they gave it...,first lost order actually gave someone one els...,first lost actually gave someone one else took...,first lost actually gave someone one else took...
3,I see I'm not the only one giving 1 star. Only...,24,107,3.500000,10,0.416667,i see i'm not the only one giving 1 star. only...,i see im not the only one giving 1 star only b...,see im one giving 1 star 25 star thats need say,see one giving 1 star 25 star thats need say,see one giving 1 star 25 star thats need say
4,"Well, it's McDonald's, so you know what the fo...",148,793,4.364865,60,0.405405,"well, it's mcdonald's, so you know what the fo...",well its mcdonalds so you know what the food i...,well mcdonalds know food ξthis review reflects...,well know ξthis review reflects solely poor se...,well know ξthis review reflects solely poor se...

## Sentiment Analysis

In [534]:
mcd['polarity'] = mcd['lemmatized'].apply(lambda x: TextBlob(x).sentiment[0])

In [535]:
mcd['subjectivity'] = mcd['lemmatized'].apply(lambda x: TextBlob(x).sentiment[1])

In [536]:
mcd.head()

,review,word_count,char_count,avg_word_len,stop_words_count,stopword_rate,lowercase,punctuation,stopwords,clean_rev,lemmatized,polarity,subjectivity
0,"I'm not a huge mcds lover, but I've been to be...",50,260,4.220000,19,0.380000,"i'm not a huge mcds lover, but i've been to be...",im not a huge mcds lover but ive been to bette...,im huge mcds lover ive better ones far worst o...,huge lover better ones far worst one ever filt...,huge lover better one far worst one ever filth...,-0.242857,0.828571
1,Terrible customer service. ξI came in at 9:30p...,82,443,4.414634,33,0.402439,terrible customer service. ξi came in at 9:30p...,terrible customer service ξi came in at 930pm ...,terrible customer service ξi came 930pm stood ...,terrible customer service came 930pm stood fro...,terrible customer service came 930pm stood fro...,-0.257143,0.521429
2,"First they ""lost"" my order, actually they gave...",158,860,4.449367,76,0.481013,"first they ""lost"" my order, actually they gave...",first they lost my order actually they gave it...,first lost order actually gave someone one els...,first lost actually gave someone one else took...,first lost actually gave someone one else took...,0.093750,0.529167
3,I see I'm not the only one giving 1 star. Only...,24,107,3.500000,10,0.416667,i see i'm not the only one giving 1 star. only...,i see im not the only one giving 1 star only b...,see im one giving 1 star 25 star thats need say,see one giving 1 star 25 star thats need say,see one giving 1 star 25 star thats need say,0.000000,0.000000
4,"Well, it's McDonald's, so you know what the fo...",148,793,4.364865,60,0.405405,"well, it's mcdonald's, so you know what the fo...",well its mcdonalds so you know what the food i...,well mcdonalds know food ξthis review reflects...,well know ξthis review reflects solely poor se...,well know ξthis review reflects solely poor se...,0.035431,0.367599

In [537]:
for col in mcd.columns: #to check if there are any null values in the df
    print(col, mcd[col].isnull().sum())

review 0
word_count 0
char_count 0
avg_word_len 0
stop_words_count 0
stopword_rate 0
lowercase 0
punctuation 0
stopwords 0
clean_rev 0
lemmatized 0
polarity 0
subjectivity 0

In [538]:
mcd.drop(['lowercase','punctuation','stopwords','clean_rev'], axis=1, inplace=True)

In [539]:
#mcd.head()

In [540]:
mcd.sort_values(by = 'polarity' )

,review,word_count,char_count,avg_word_len,stop_words_count,stopword_rate,lemmatized,polarity,subjectivity
318,They are making this the worst Vegas experienc...,27,179,5.666667,7,0.259259,making worst vega experience towing ξ300 dolla...,-1.0,1.00
707,horrible.... that is all. Do not go there.,8,42,4.375000,3,0.375000,horrible go,-1.0,1.00
727,Worst service ever avoid this place.,6,36,5.166667,1,0.166667,worst service ever avoid place,-1.0,1.00
751,Worst McDonalds I have ever been. I hope I can...,14,65,3.714286,3,0.214286,worst ever hope give zero star,-1.0,1.00
341,Truly disgusting place.,3,23,7.000000,0,0.000000,truly disgusting place,-1.0,1.00
...,...,...,...,...,...,...,...,...,...
1256,Do You want a close-ghetto experience?! Welcom...,9,58,5.555556,2,0.222222,want closeghetto experience welcome mcsuck,0.8,0.90
586,This has to be the slowest McDonald's on earth...,26,131,4.076923,11,0.423077,slowest earth 10 minute 2 happy meal make happ...,0.8,1.00
626,Great place to park when you're going to The O...,12,71,5.000000,5,0.416667,great place park youre going observatory roscoes,0.8,0.75
911,What can we expect from McDonalds LOL LOL LOL!,9,46,4.222222,3,0.333333,expect lol lol lol,0.8,0.70
76,Best McDonalds ice cream is here!,6,33,4.666667,1,0.166667,best ice cream,1.0,0.30

In [541]:
#mcd[mcd.Sentiment >= 0] #to display the number of +ve or -ve reviews

In [562]:
doc = " running"

In [563]:
Word(doc).lemmatize()

' running'